<html lang="en">
<body>
<h1>form</h1>
<form action="/api/user" method="POST">
    <div>
        <label for="username">username</label>
        <input id="username"/>
    </div>
    <div>
        <label for="address">address</label>
        <input id="address" />
    </div>
    <div>
        <label for="postcode">postcode</label>
        <input id="postcode"/>
    </div>
    <div>
        <label for="email">email</label>
        <input id="email" type="email"/>
    </div>
    <div>
        <label for="password">password</label>
        <input id="password" type="password"/>
    </div>
    <button type="submit">submit</button>
</form>

<a href="/login">login</a>
</body>
</html>